
:root {
    --body-bg-color:#FFFCF0; 
    --sitewidth:80em;
    --themecolor:#B28200;;
    --containerwidth:70em;
  }
  /* Website by Manpreet Singh */

.cover{

    height: 35em;
    background-image:url("/images/food.jpeg");
    background-image: url("https://media.giphy.com/media/7JzHsh3UTip20/giphy.gif");
    background-size: cover; 
}

.homemain{

  background-color: white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 1em ;
  padding: 1em;
  margin-top: -5em;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  border-radius: 0.25em;
}
.latest{
    text-align: center;
    color: var(--themecolor);
    grid-column: 1 / span 3;
    padding: 0.2em;
}
.maincats{
    text-align: center;
    color: var(--themecolor);
    grid-column: 2 / span 2;
    padding: 0.2em;
    margin: 1em;

}
.maincats li{
    display: inline-block;
    background-color: var(--body-bg-color);
    border: var(--themecolor);
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border-radius: 0.25em;
    opacity:0.7;
  
    
    
}

.maincats img{
    display: block;
}

.listings {
    /*border: 2px solid var(--themecolor);*/
    /*background-color: rgb(248, 215, 248);*/
    background-color:#FCF6DB;

    border: 1px solid var(--themecolor);
    box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
    border-radius: 0.25em;
    display: grid;

   
}


.listingimage{
    width: 100%;
} 
.listingtitle{
    padding: 0.5em;
}
.listingreview{
    padding: 0.1em;
    
}
.listingreview li{
    display: inline;
        
}
.listingcategories{
    padding: 0.5em;
}
.listingopening{
    /*background-color: rebeccapurple;*/
    background-color:var(--themecolor);;
    color: white;
    text-align: center;
    padding: 0.5em;
}


.reviewBox
{

    text-align: center;
    color: var(--themecolor);
    grid-column: 1 / span 3;
    padding: 0.2em;
    background-color: var(--body-bg-color);
  
}

/***/

a{
    color: var(--themecolor);
    text-decoration: none;
}
a:hover{
color:black;
}


h3{
font-weight: normal;
}

@media screen and (max-width:50em)
{
    .homemain{

        background-color: white;
        display: grid;
        grid-template-columns:1fr ;
        grid-gap: 1em ;
        padding: 1em;
       
      }
      .latest{
        text-align: center;
        color: var(--themecolor);
        grid-column: 1 / span 1;
        padding: 0.2em;
    }
     
    .cover{
        background-image:url("/images/food.jpeg");
    }
    .maincats
    {
        text-align: center;
        color: var(--themecolor);
        grid-column: 1 / span 4;
        padding: 0.2em;
    }
}





