
:root {
    --body-bg-color:rgb(238, 238, 238); 
    --sitewidth:80em;
    --themecolor:#D89E00;;
    --containerwidth:70em;
  }
  /* Website by Manpreet Singh */

.cover{

    height: 25em;
    background-image:url("/images/food.jpeg");
    background-size: cover; 
}

.homemain{

  background-color: white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 1em ;
  padding: 1em;
  margin-top: -5em;
}
.latest{
    text-align: center;
    color: var(--themecolor);
    grid-column: 1 / span 3;
    padding: 0.2em;
}

.listings {
    /*border: 2px solid var(--themecolor);*/
    /*background-color: rgb(248, 215, 248);*/
    background-color: #ffffff;

    border: 1px solid #f09423;

   
}


.listingimage{
    width: 100%;
} 
.listingtitle{
    padding: 0.5em;
}
.listingreview{
    padding: 0.5em;
}
.listingcategories{
    padding: 0.5em;
}
.listingopening{
    /*background-color: rebeccapurple;*/
    background-color:#f09423;;
    color: white;
    text-align: center;
    padding: 0.5em;
}


/***/

a{
    color: #f09423;
    text-decoration: none;
}
a:hover{
color:black;
}


h3{
font-weight: normal;
}

@media screen and (max-width:50em)
{
    .homemain{

        background-color: white;
        display: grid;
        grid-template-columns:1fr ;
        grid-gap: 1em ;
        padding: 1em;
      }
      .latest{
        text-align: center;
        color: var(--themecolor);
        grid-column: 1 / span 1;
        padding: 0.2em;
    }

}





