
:root {
    --body-bg-color:#FFFCF0; 
    --sitewidth:80em;
    --themecolor:#B28200;;
    --containerwidth:70em;
  }
  /* Website by Manpreet Singh */

  .listmain{

    background-color: white;
    display: grid;
    grid-template-columns:1;
    grid-gap: 1em ;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border-radius: 0.25em;
  }

  
  .button {
      background-color: var(--themecolor);
     
  }

  .header {
      display:grid;
      grid-template-columns:1fr 4fr 3fr  2fr;
      grid-template-areas: 
       "logo searchbar searchbar links";
       }

 
  .header .button a {
    color:var(--body-bg-color);
    text-decoration: none;
  }
  .header a:hover {
    color:burlywood;
    text-decoration: none;
  }
  .header .button{
      border-radius: 1em;
      padding: 0.5em;
      border: 2px solid #fff ; 

  }
  header .button:hover {
    background-color:var(--themecolor); /* Green */

  }
  .toplogin{
    text-align: right;
    color:var(--themecolor);
    
    grid-area: links;

  
  }
   .toplogin li{
    display: inline;
 
   
  }

  .logo {
    text-align: right;
    padding: 1em;
    grid-area: logo;

  }

  .searchbar {
    display: flex;
     
     justify-content: left;
    flex-wrap: wrap;
    padding: 2em;
    grid-area: searchbar;
    
     
 }

 .listviewcats  {
    padding: 0 1em 1em 0;
  
  }
.listviewcats li {
  display: inline;

}

 .listview {
 grid-column: 1 / span 3;
 
 }
 .listtopview
 {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .listview h1 {
    color: black;
    padding: 0 0 0 0.2em;
    margin-bottom: -0.5em;
 }

 .listview .cover img {
    width:100%;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
 }

 .checkinbtn {

    background-color: var(--themecolor);
    border-radius: 0.5em;
    color: white;
    margin-top: 0.2em;
    padding: 0.5em;
 }

 .reviewtext {
    text-align: left;
    font-size:0.7em;
  
  }
  .listingreview ul{
  
    padding: 0em;
  }
  .listingcategories{
    padding:0 0 0.5em 0.5em;
  }

  .info th,td {

    text-align: center;
    color: var(--themecolor);
    background-color: var(--body-bg-color);
    padding: 0.5em;
  }

  .listviewbtns li {
      display: inline;
      padding: 2em 0 0 0;
  }

  .listingbar a {
   color: var(--body-bg-color);
  }

  .listingbar a:hover {
    color: black;
   }

   .reviews textarea{
       width:100%;
       height:5em;
   }

   .content {
      
       padding: 0.1em;
     
   }
   .review {
   background-color: var(--body-bg-color);
   box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
   padding: 1em;
   display: grid;
  grid-template-columns:1fr 9fr ;
  grid-template-areas: 
   "avatar ratings"
   "name ratings"
   "content content";
   }
    .avatar {
        grid-area: avatar;
       
        
    }

    .content {
        grid-area: content;
    }
    .name {
        grid-area: name;
        margin-top:-1em;
        
    }
    .ratings {
        grid-area: ratings;
        
    }
   .avatar img{
       width: 3em;
   }



   @media screen and (max-width:50em)
{
    .listmain{

        background-color: white;
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 1em ;
        padding: 1em;
       
      }
      .listingsheading{
      
        color: var(--themecolor);
        grid-column: 1 / span 1;
       
    }
    .listingimage img{
        height: 20em;
      
    } 

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em ;
        padding: 1em;

    }

 


}

