:root {
  --body-bg-color:##FFFCF0; 
  --sitewidth:80em;
  --themecolor:rebeccapurple;
  --containerwidth:70em;
}
/* Website by Manpreet Singh */
body{
    background-color: var(--body-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site{
  max-width:var(--sitewidth);

  margin: auto;
  padding-left: 0.5em;
}
.header{
  color:white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
   
  }
  .toplinks{
    text-align: left;
    color: #FDF3FE;
    grid-column: 1 / span 2;
  }
   .toplinks li{
    display: inline;
    margin-left: 0.2em;
   
  }
  .toplogin{
    text-align: right;
    color: #FDF3FE;
    margin-right: 1em;
    grid-column: 3 / span 2;
  }
   .toplogin li{
    display: inline;
    margin-right: 1em;
   
  }
  
  .header a {
    color:#fff;
    text-decoration: none;
  }
  .header a:hover {
    color:var(--themecolor);
    text-decoration: underline;
  }
  .header .button{
      border-radius: 1em;
      padding: 0.5em;
      border: 2px solid #fff ; 
  }
  header .button:hover {
    background-color:var(--themecolor); /* Green */
    color: white;
  }

  .logo {
    grid-column: 1 / span 4;
    text-align: center;
  }
  .searchname {
    grid-column: 1 / span 2;
    text-align: right;
  
    
  }
  .searchbox {
    border: 2px solid var(--themecolor);
    border-radius: 4px;
    display: inline-block;
    background-color: var(--body-bg-color);
    color: black;
  }
  .searchlocation {
    grid-column: 3 / span 2;
    text-align: left;
  
  }
  .searchname li{
    display: inline;
    padding: 0.5em;
   
  }
  .searchlocation li{
    display: inline;  
    padding: 0.5em; 
  }
  input[type=text] {
    background-color: var(--body-bg-color);
    line-height: 4em;
    border: 0px;
    height: 4em;
    size:4em
  }

  @media screen and (max-width:50em)
{
  .header{
    color:white;
    display: grid;
    grid-template-columns:1fr 1fr;
   
     
    }
    .toplinks{
      text-align: left;
      color: #FDF3FE;
      grid-column: 1 / span 1;
    }
     .toplinks li{
      display: inline;
      margin-left: 0.2em;
     
    }
    .toplogin{
      text-align: right;
      color: #FDF3FE;
      margin-right: 1em;
      grid-column: 2 / span 1;
    }
    .searchbox{
      background-color: transparent;
      text-align: center;
      border: transparent;
      color: #FDF3FE;


    }
  .searchname {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 1em;

  }
  .searchlocation {
      grid-column: 1 / span 2;
      text-align: center;
  }    

  input[type=text] {

    background-color: var(--body-bg-color);
    text-align: left;
    width:30em;
    font-size: 2em;
    
  }
}

.footer{
  background-color: var(--themecolor);
  margin-top: 2em;
  padding: 1em;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.socialmedia li{
  display: inline;
}

.footerlinks{
  text-align: right;
}
.footerlinks li {
  display: inline;
}

.copyrights {
 grid-column: 1 /span 2;
 text-align: center;
}

