:root {
  --body-bg-color:##FFFCF0; 
  --sitewidth:80em;
  --themecolor:rebeccapurple;
  --containerwidth:70em;
}
/* Website by Manpreet Singh */
body{
    background-color: var(--body-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  max-width:var(--sitewidth);

  margin: auto;
  padding-left: 0.5em;
}
.header{
  color:white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
   
  }
  .toplinks{
    text-align: left;
    color: #FDF3FE;
    grid-column: 1 / span 2;
  }
   .toplinks li{
    display: inline;
    margin-left: 0.2em;
   
  }
  .toplogin{
    text-align: right;
    color: #FDF3FE;
    margin-right: 1em;
    grid-column: 3 / span 2;
  }
   .toplogin li{
    display: inline;
    margin-right: 1em;
   
  }
  
  .header a {
    color:#fff;
    text-decoration: none;
  }
  .header a:hover {
    color:burlywood;
    text-decoration: none;
  }
  .header .button{
      border-radius: 1em;
      padding: 0.5em;
      border: 2px solid #fff ; 

  }
  header .button:hover {
    background-color:var(--themecolor); /* Green */

  }

  .logo {
    grid-column: 1 / span 4;
    text-align: center;
  }

  .searchbar {
     display: flex;
     grid-column:1 / span 4;  
      justify-content: center;
     flex-wrap: wrap;
      
  }
  .searchname {

    text-align: right;
  
    
  }
  .searchbox {
    border: 2px solid var(--themecolor);
    border-radius: 4px;
    display: inline-block;
    background-color: var(--body-bg-color);
    color: black;
    padding: 0 0 0 1em;
  }
  .searchlocation {

    text-align: left;
  
  }
  .searchname li{
    display: inline;
    padding: 0.5em;
   
  }
  .searchlocation li{
    display: inline;  
    padding: 0.5em; 
  }
   .searchbutton {
    line-height: 2;
    padding: 0.5em 0em 0em 0.5em;
    border: none;
    vertical-align:text-bottom;

    
  }
   .searchbutton  img {
    height: 2em;
   
  }
  .searchbutton a:hover img {
    background-color:tan;
    border-radius: 1em;
 
  }

  input[type=text] {
    background-color: var(--body-bg-color);
    line-height: 3em;
    border: 0px;
    height: 3em;

  }

  @media screen and (max-width:50em)
{
  .header{
    color:white;
    display: grid;
    grid-template-columns:1fr 1fr;
   
     
    }
    .toplinks{
      text-align: left;
      color: #FDF3FE;
      grid-column: 1 / span 1;
    }
     .toplinks li{
      display: inline;
      margin-left: 0.2em;
     
    }
    .toplogin{
      text-align: right;
      color: #FDF3FE;
      margin-right: 1em;
      grid-column: 2 / span 1;
    }

  .searchbar {
    display: flex;
    flex-direction: column;
    padding: 1em;

     
 }
 .searchbox{
  background-color: transparent;
  text-align: center;
  border: transparent;
  color: #FDF3FE;


}
.searchname {

text-align: center;
padding: 1em 0 0 1em;
align-items: stretch;

}
.searchlocation {
  flex-grow: 1;
  padding: 1em 0 0 1em;
  text-align: center;
}    

input[type=text] {

background-color: var(--body-bg-color);
line-height: 2em;
border: 2px;
padding: 0.5em;
height:2em;

}
.searchbutton{
  padding: 1em 0 0 1em;
  text-align: center;
}

}

.footer{
  background-color: var(--themecolor);
  margin-top: 2em;
  padding: 1em;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid var(--themecolor);
  box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.2);
  border-radius: 0.25em;
}

.socialmedia li{
  display: inline;
}

.socialmedia img {
  width:4em;
}

.footerlinks{
  text-align: right;
}
.footerlinks li {
  display: inline;
}
.footerlinks a {
  color: antiquewhite;
}

.copyrights {
 grid-column: 1 /span 4;
 text-align: center;
}

